<!DOCTYPE html>
<html>
	<head>
		<title>Collection </title>
		<% include partials/head %> 
		<link rel="stylesheet" href="/css/simple-sidebar.css"/ >
	</head>
	<body>
		<div id="wrapper">
			<%include partials/feed-header %> 
		    <div id="page-content-wrapper">
		        <div class="container-fluid">
		            <div class="row">
						<div id="sidebar-wrapper">
						    <ul class="sidebar-nav">
						        <li>
						            <a href= <%="/visualize/" + collection.id%> > Word Cloud</a>
						        </li>
						        <li>
						            <a href= <%="/visualize/" + collection.id%> >Geospatial Visualization</a>
						        </li>
						        <li>
						            <a href= <%="/visualize/" + collection.id%> >Sentiment Analysis</a>
						        </li>
						    </ul>
						</div>
		                <div class="col-lg-12">
		                    <h1><%=collection.name%></h1> 
		                    <p> Click through the options on the left in order to visualize your RSS feeds
		                    	in different ways.</p>
		                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a
		                </div>
		            </div>
		        </div>
		    </div>
		</div> 
		<% include partials/footer %> 
	</body>
</html>