<!DOCTYPE html>
<html>
	<head>
		<title>Collection </title>
		<% include partials/head %> 
		<link rel="stylesheet" href="/css/simple-sidebar.css"/ >
	</head>
	<body>
		<div id="wrapper">
			<%include partials/feed-header %> 
		    <div id="page-content-wrapper">
		        <div class="container-fluid">
		            <div class="row">
						<div id="sidebar-wrapper">
						    <ul class="sidebar-nav">
						        <li>
						            <a href="#seewordcloud" id="seewordcloud"> Word Cloud</a>
						        </li>
						        <li>
						            <a href="#geospatial">Geospatial Visualization</a>
						        </li>
						        <li>
						        	<a href="sentiment">Sentiment Analysis</a> 
						            <!--<a href= <%= collection.id%> >Sentiment Analysis</a>-->
						        </li>
						    </ul>
						</div>
		                <div class="col-lg-12">
		                    <h1><%=collection.name%></h1> 
		                    <p> Click through the options on the left in order to visualize your RSS feeds
		                    	in different ways.</p>
		                   <a href="#menu-toggle" id="menu-toggle">
		                   	<img class="img-responsive" id="arrow-toggle" src="/img/double_arrow.png" alt="arrow">
		                   </a> 
		                   	<div class="wordcloud">
		                   		<div id="wordcloudviz">		                   
		                   		<% include partials/word-cloud-test %></div>
            				</div>
            				<div class="geospatial" id="geospatialviz">
            				</div>
            				<div class="sentiment" id="sentimentviz">
            				</div> 
		                </div>
		            </div>
		        </div>
		    </div>
		</div> 
		<script>
			document.getElementById("seewordcloud").onclick = function() {
				console.log("yo");
				document.getElementById("wordcloudviz").style.visibility = "visible";
			}
		</script> 
		<% include partials/footer %> 
	</body>
</html>