<!DOCTYPE html>
<html>
	<head>
	   <% include partials/head %> 
	</head>
	<body>
		<header>
        	<% include partials/header %>  
      	</header>
		<div class="container">
			<h2>Sign in</h2>
			<form action="/login" method="post">
				<% include partials/user_form %> 
			</form> 
		</div>
	</body>
</html>