<!DOCTYPE html>
<html>
  <head>
	<title>Welcome</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=0.5" />
	<link rel='stylesheet' href='css/custom.css'> 
  </head>
  <body>
  </body> 
</html>
